<template>
  <div class="randomSkills">
    <div class="textOne" ></div>
    <div class="textTwo"></div>
    <div class="textThree"></div>
    <div class="textFor"></div>
    <div class="textFive"></div>
  </div>

</template>

<script>
export default {
  name: 'animation-skills-name',
  data() {
    return {
      textArrOne: ['HTML','CSS','Sass','JavaScript','JQuery','D3','Ember.js','Gulp','Grunt','npm','Mocha','Jest',
        'Node.js','NestJS','Ajax','Vue.js','React','SQL','Anime.js','Vuex'],
      textArrTwo: ['selectors','color','background-color','border','margin','padding','text','font','links',
        'table','display','max-width','position','z-index','float','overflow','inline-block','align','opacity',
        'transitions','box-sizing','flexbox','!important','forms','border'],
      textArrThree: ['let','const','function','Array','Object','constructor','return','forEach','map','filter','class',
        'event','Symbol','var','toString','Boolean','true','string','Number','this','get','push','innerHTML',
        'animation','@click','style'],
      textArrFor: ['a','abbr','canvas','caption','datalist','em','figcaption','h1','h2','h3',
        'i','iframe','label','nav','ol','p','script','section','table','tbody','td','address',
        'area','bgsound','figure','font','img','input','legend','option','select','small','span',
        'textarea','th','video','article','aside','audio','body','colgroup','comment','div',
        'form','footer','head','header','hgroup','li','menu','noscript','output','blink','br',
        'button','frame','frameset','hr','html','link','meter','title','time'],
      textArrFive: ['eval()','isFinite()','isNaN()','parseFloat()','parseInt()','decodeURI()','decodeURIComponent()',
        'Error','EvalError','Promise','Generator','if...else','switch','try...catch','do...while','for...in',
        'toUpperCase()','substring()','trim()','charCodeAt','keys()','values()','freeze()','assign()','toPrecision()',
        'for…of iterator','reduce()','filter()'
      ]
    }
  },
  methods: {
    getRandomInt(max) {
      return Math.floor(Math.random() * max);
    },
    getRandomArr(max) {
      return Math.floor(Math.random() * max);
    },
    drawRandomArrOne() {
      document.querySelector('.textOne').style.top = this.getRandomInt(70) + '%'
      document.querySelector('.textOne').style.right = this.getRandomInt(80) + 'vh'
      document.querySelector('.textOne').innerHTML = this.textArrOne[(this.getRandomArr(this.textArrOne.length))]
    },
    drawRandomArrTwo() {
      document.querySelector('.textTwo').style.top = this.getRandomInt(70) + '%'
      document.querySelector('.textTwo').style.right = this.getRandomInt(80) + 'vh'
      document.querySelector('.textTwo').innerHTML = this.textArrTwo[(this.getRandomArr(this.textArrTwo.length))]
    },
    drawRandomArrThree() {
      document.querySelector('.textThree').style.top = this.getRandomInt(70) + '%'
      document.querySelector('.textThree').style.right = this.getRandomInt(80) + 'vh'
      document.querySelector('.textThree').innerHTML = this.textArrThree[(this.getRandomArr(this.textArrThree.length))]
    },
    drawRandomArrFor() {
      document.querySelector('.textFor').style.top = this.getRandomInt(70) + '%'
      document.querySelector('.textFor').style.right = this.getRandomInt(80) + 'vh'
      document.querySelector('.textFor').innerHTML = this.textArrFor[(this.getRandomArr(this.textArrFor.length))]
    },
    drawRandomArrFive() {
      document.querySelector('.textFive').style.top = this.getRandomInt(70) + '%'
      document.querySelector('.textFive').style.right = this.getRandomInt(80) + 'vh'
      document.querySelector('.textFive').innerHTML = this.textArrFive[(this.getRandomArr(this.textArrFive.length))]
    },
  }
}
</script>

<style>
.randomSkills {
  position: relative;
  float: left;
  width: 100%;
  height: 95vh;
}
.randomSkills .textOne {
  font-size: 1.5em;
  position: absolute;
  color: white;
  opacity: .8;
}
.randomSkills .textTwo {
  font-size: 1.3em;
  position: absolute;
  color: white;
  opacity: .8;
}
.randomSkills .textThree {
  font-size: 1.3em;
  position: absolute;
  color: white;
}
.randomSkills .textFor {
  font-size: 1.1em;
  position: absolute;
  color: white;
}
.randomSkills .textFive {
  font-size: 1.7em;
  position: absolute;
  color: white;
}
</style>