<template>
  <div class="home">
    <my-name-svg/>
    <div class="img">
      <img class="img_laptop" src="../assets/image/laptop.jpg" alt="">
    </div>

  </div>
</template>

<script>
import MyNameSvg from "@/assets/SVG/MyNameSvg";
import AnimationSVG from "@/assets/SVG/classSVG";
export default {
  name: 'my-home',
  components: {MyNameSvg},
  methods: {
    myNameShow() {
      let animationSvg = new AnimationSVG()
      animationSvg.run('logo', 'anim-line 4s ease forwards')
    }
  },
  mounted() {
    this.myNameShow()
  }
}
</script>

<style scoped>
.img_laptop {
  float: right;
  position: absolute;
  top: 20%;
  left: 100%;
  width: 80%;
  height: auto;
  animation: laptop 2s forwards;
}
@keyframes laptop {
  to {
    left: 40%;
  }
}
</style>