<template>
  <div class="main_wrapper">
    <my-navigation/>
    <section id="home" class="home">
      <home/>
    </section>
    <section id="my_skills" class="my_skills">
      <my-skills/>
    </section>
    <section id="my_projects" class="my_projects">
      <my-projects/>
    </section>
    <section id="my_contact" class="my_contact">
      <my-contact/>
    </section>
  </div>

</template>

<script>
import Home from "@/components/Home";
import MySkills from "@/components/MySkills";
import MyProjects from "@/components/MyProjects";
import MyContact from "@/components/MyContact";
import MyNavigation from "@/components/UI/MyNavigation";
export default {
  name: 'main-wrapper',
  components: {MyNavigation, MyContact, MyProjects, MySkills, Home}

}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(221, 221, 221);
  overflow-x:hidden;
}
.home, .my_skills, .my_projects, .my_contact {
  width: 100%;
  height: 100vh;
}
</style>