<template>
  <div class="contact">
    <div id="observerMap" ref="observer"></div>
    <div class="map">
      <my-map-svg/>
    </div>
    <div class="myInput" v-show="showInput">
      <my-input/>
    </div>
  </div>
</template>

<script>
import AnimationSVG from "@/assets/SVG/classSVG";
import MyMap from "@/assets/SVG/MyMap";
import MyMapSvg from "@/assets/SVG/MyMap";
export default {
  name: 'my-contact',
  components: {MyMapSvg, MyMap},
  data() {
    return {
      showInput: false,
    }
  },
  methods: {
    showMap() {
      let animationSvg = new AnimationSVG()
      animationSvg.run('map', 'anim-map 6s ease forwards')
    }
  },
  mounted() {
    let options = {
      rootMargin: '0px',
      threshold: 1.0
    }
    let callback = (entries, observer) => {
      if(entries[0].isIntersecting){
        this.showMap()
        setTimeout(() => this.showInput = true, 2000)

      }
    }
    let observer = new IntersectionObserver(callback, options);
    observer.observe(this.$refs.observer)
  }
}
</script>

<style scoped>
.contact {
  position: relative;
  width: 100%;
  height: 100vh;
}
.contact .map {
  float: right;
  width: 65%;
  height: auto;
  margin-right: -70px;
}
.myInput {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 60vh;
  left: -330px;
  animation: input 2s forwards;
}
@keyframes input {
  to {
    left: 150px;
  }
}
</style>