<template>
  <div class="projects">
    <div class="observeMyProjects" ref="observer"></div>
    <div class="h1">
      <h1>My projects</h1>
    </div>
    <div class="project_items">
      <div class="projectOne one">
        <img class="project_img" src="../assets/image/online-shop.jpg" alt="">
      </div>
      <div class="projectTwo one"></div>
      <div class="projectThree one"></div>
      <div class="projectFor one"></div>
      <div class="projectFive one"></div>
      <div class="projectSex one"></div>
    </div>

  </div>
</template>

<script>
import {translateHeaderMyProjects} from "@/components/animations/animationSkills";
import {translateMyProects} from "@/components/animations/animationSkills";

export default {
  name: 'my-projects',
  methods: {
    animationHeader() {
      translateHeaderMyProjects(document.querySelector('h1'))
      translateMyProects(document.querySelectorAll('.one'))
    }
  },
  mounted() {
    let options = {
      rootMargin: '0px',
      threshold: 1.0
    }
    let callback = (entries, observer) => {
      if(entries[0].isIntersecting){
        this.animationHeader('')
      }
    }
    let observer = new IntersectionObserver(callback, options);
    observer.observe(this.$refs.observer)
  }
}
</script>

<style>
.projects {
  width: 80%;
  height: 100vh;
  float: right;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
}
h1 {
  opacity: 0;
  font-size: 2.5em;
  padding-left: 20%;
}
.project_items {
  position: relative;
  float: right;
  width: 100%;
  height: 100vh;
}
.project_img:hover {
  cursor: pointer;
}
.projectOne,.projectTwo,.projectThree,.projectFor,.projectFive,.projectSex {
  min-width: 250px;
  border: 1px solid black;
  float: left;
  width: 30%;
  height: 30%;
  margin: 30px 10px;
  opacity: 0;
}
.project_img {
  display: block;
  width: 100%;
  height: 100%;
}
.observeMyProjects {
  position: absolute;
  top: 50%;
}
</style>