<template>
  <div class="page_skills">
    <div id="observerLang" ref="observer"></div>
    <div class="random_skills">
      <animation-skills-text ref="childComponent"/>
    </div>
    <div class="my_photo">
      <img class="my_img" src="../assets/image/my_photo.jpeg" alt="">
    </div>
    <div class="animation_skills">
        <div class="title_skills">HTML</div>
        <div id="one"></div>
        <div class="title_skills">CSS</div>
        <div id="two"></div>
        <div class="title_skills">JavaScript</div>
        <div id="three"></div>
        <div class="title_skills">Node Js</div>
        <div id="for"></div>
        <div class="title_skills">SQL</div>
        <div id="fife"></div>
    </div>
  </div>
</template>

<script>
import {translateSkills} from "@/components/animations/animationSkills";
import AnimationSkillsText from "@/components/animations/AnimationSkillsText";
export default {
  name: 'my-skills',
  components: {AnimationSkillsText},
  data() {
    return {
      length: 0,
    }
  },
  methods: {
    animationLanguages() {
      translateSkills(document.querySelectorAll('.title_skills'))
    },
    showSkills() {
      let one = document.getElementById('one')
      let two = document.getElementById('two')
      let three = document.getElementById('three')
      let $for = document.getElementById('for')
      let fife = document.getElementById('fife')
      this.length += 3
      if (this.length > 500) return
      one.style.width = this.length + 'px'
      two.style.width = this.length + 'px'
      three.style.width = this.length + 'px'
      $for.style.width = this.length + 'px'
      fife.style.width = this.length + 'px'
      setTimeout(() => {
        this.showSkills()
      }, 2)
    }
  },
  mounted() {
    let options = {
      rootMargin: '0px',
      threshold: 1.0
    }
    let callback = (entries, observer) => {
      if(entries[0].isIntersecting){
        setTimeout(() => {this.showSkills()},1000)
        setTimeout(() => {this.animationLanguages()},2000)
        setInterval(() => {(this.$refs.childComponent.drawRandomArrOne())},3000)
        setInterval(() => {(this.$refs.childComponent.drawRandomArrTwo())},2000)
        setInterval(() => {this.$refs.childComponent.drawRandomArrThree()}, 2500)
        setInterval(() => {this.$refs.childComponent.drawRandomArrFor()}, 1000)
        setInterval(() => {this.$refs.childComponent.drawRandomArrFive()}, 2500)
      }
    }
    let observer = new IntersectionObserver(callback, options);
    observer.observe(this.$refs.observer)
  }

}
</script>

<style>
.page_skills {
  position: relative;
}
.random_skills {
  width: 40%;
  height: 100vh;
  margin-left: 20%;
  float: left;
}

.my_photo {
  width: 30%;
  height: 52vh;
  margin-right: 20px;
  float: right;
  overflow: hidden;
}
.my_img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.animation_skills {
  position: relative;
  width: 30%;
  height: 45vh;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  overflow: hidden;
}
.title_skills {
  opacity: 0;
  left: -120px;
  font-size: 1.5em;
  color: black;
  margin-top: 20px;
}
#one, #two, #three, #for, #fife {
  width: 0px;
  height: 4px;
  background-color: black;
  font-weight: bold;
}
#observerLang {
  position: absolute;
  top: 450px;
}
</style>