<template>
  <div class="btn">
    <slot></slot>
    <span class="btn__line btn__line--top"></span>
    <span class="btn__line btn__line--right"></span>
    <span class="btn__line btn__line--bottom"></span>
    <span class="btn__line btn__line--left"></span>
  </div>
</template>

<script>
export default {
  name: 'my-button'
}
</script>

<style scoped>
.btn {
  width: 100px;
  position: relative;
  color: black;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: .2s;
}
.btn__line {
  position: absolute;
  display: block;
}
.btn__line--top {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background-color: red;
  background: linear-gradient(90deg, transparent, red);
}
.btn:hover .btn__line--top {
  left: 100%;
  transition: 1s;
  transition-delay: .25s;
}
.btn__line--bottom {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background-color: red;
  background: linear-gradient(270deg, transparent, red);
}
.btn:hover .btn__line--bottom {
  right: 100%;
  transition: 1s;
  transition-delay: .25s;
}
.btn__line--left {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: red;
  background: linear-gradient(0deg, transparent, red);
}
.btn:hover .btn__line--left {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0s;
}
.btn__line--right {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: red;
  background: linear-gradient(180deg, transparent, red);
}
.btn:hover .btn__line--right {
  top: 100%;
  transition: 1s;
  transition-delay: 0s;
}
.btn:hover {
  box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
  background-color: red;
  color: white;
  transition-delay: 1s;
  cursor: pointer;
}
</style>