<template>
  <form action="">
    <input  class="input" type="text" placeholder="Name...">
    <input  class="input" type="text" placeholder="Email...">
    <input  class="input" type="text" placeholder="Subject...">
    <textarea class="input, textArea" placeholder="Message..."/>
    <my-button id="btn">Submit</my-button>
  </form>
</template>

<script>
export default {
  name: 'my-input',
}
</script>

<style scoped>
form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  margin-left: 20%;
  width: 50%;
}
.input, .textArea {
  margin-top: 20px;
  width: 270px;
  height: 30px;
  background-color: black;
  border: none;
  color: red;
}
.textArea {
  height: 100px;
}
.input::placeholder, .textArea::placeholder {
  color: white;
  padding-top: 5px;
  padding-left: 10px;
}
#btn {
  margin-left: 30%;
  margin-top: 20px;
}

</style>