<template>
  <div id="nav">
    <div class="container_links">
      <a class="link container" href="#home" @click="scrollSmoothly">HOME</a>
      <a class="link container" href="#my_skills" @click="scrollSmoothly">SKILLS</a>
      <a class="link container" href="#my_projects" @click="scrollSmoothly">PROJECTS</a>
      <a class="link container" href="#my_contact" @click="scrollSmoothly">CONTACT</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'my-navigation',
  methods: {
    scrollSmoothly() {
      const anchors = document.querySelectorAll('a[href*="#"]')

      for (let anchor of anchors) {
        anchor.addEventListener('click', function (e) {
          e.preventDefault()

          const blockID = anchor.getAttribute('href').substr(1)

          document.getElementById(blockID).scrollIntoView({
            behavior: 'smooth',
            block: 'start'
          })
        })
      }
    }
  }
}
</script>

<style>
#nav {
  position: fixed;
  float: left;
  margin-left: -300px;
  max-width: 18%;
  min-width: 190px;
  height: 100vh;
  border-right: 2px solid black;
  animation: nav 2s forwards;
  z-index: 5;
}
@keyframes nav {
  to {
    margin-left: 0;
  }
}.container_links {
  width: 100%;
  margin-top: 200%;
 }
.link {
  cursor: pointer;
  text-decoration: none;
  font-size: 2em;
  color: black;
  font-weight: bold;
}
.container {
  position: relative;
  display: block;
  padding: 10px;
}
.container::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: gray;
  opacity: 0.2;
  /*z-index: 0;*/
  content: '';
}
.container:hover::before {
  animation: bg-link 0.5s 1;
  animation-fill-mode: forwards;
}
@keyframes bg-link {
  0% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}

</style>